<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <header class="jumbotron p-3 mb-2 bg-secondary text-white rounded-0 text-center">
            <h1>My Trip Log</h1>
        </header>
        @RenderBody()
    </div>
</body>
</html>
